mj-section(padding-left="36px" padding-right="36px" padding-top="24px" background-color="#00095b")
    mj-column
        mj-image(width="80px" src="https://image.s10.sfmc-content.com/lib/fe35117170640579721572/m/1/e416c64c-385e-41cd-a1ea-ee8285855041.png" alt="logo ford")
        mj-text(align="center" font-size="16px" line-height="24px" color="#ffffff") 
            a(style="color:#ffffff;" href="#") Unsubscribe #[span(style="text-decoration:none;") &nbsp;|&nbsp;]
            a(style="color:#ffffff;" href="#") Change Email address #[span(style="text-decoration:none;") &nbsp;|&nbsp;]
            a(style="color:#ffffff;" href="#") Contact Us #[span(style="text-decoration:none;") &nbsp;|&nbsp;]
            a(style="color:#ffffff;" href="#") Privacy Notice #[span(style="text-decoration:none;") &nbsp;|&nbsp;]
            a(style="color:#ffffff;" href="#") Your Privacy Choices
        mj-text(padding-top="24px" align="center" font-size="16px" line-height="24px" color="#ffffff") Ford Motor Company
        mj-text(align="center" font-size="16px" line-height="24px" color="#ffffff") Customer Relationship Center (CRC)
        mj-text(align="center" font-size="16px" line-height="24px" color="#ffffff") P.O. Box 6248
        mj-text(padding-bottom="24px" align="center" font-size="16px" line-height="24px" color="#ffffff") Dearborn, MI 48126
        mj-text(padding-bottom="24px" font-size="16px" line-height="24px" color="#ffffff") © 2024 Ford Motor Company.F-150, Lightning, FLASH, Mustang, Mach-E, and BlueOval are trademarks of Ford Motor Company.All rights reserved. Edmunds is a registered trademark of Edmunds.com, Inc. Kelley Blue Book is a trademark of Kelley Blue Book Co. Inc. Used with permission.
        mj-text(padding-bottom="24px" align="center" font-size="16px" line-height="24px" color="#ffffff") Follow Ford
