mjml
    //- Head
    mj-head
        mj-title footer Mjml
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-breakpoint(width='480px')
        mj-style. 
            @media (max-width: 480px){
                .footer-link a{
                    display: block;
                    text-decoration: none;
                    border-bottom: 1px solid ;
                    padding: 8px;
                }
                .barre{
                    display: none;
                }
            }
    //- Body
    mj-body(background-color="#eeeeee")       
        //- content
        block content
        //- Footer Ford 
            block footer 
            include ../includes/_footer
        //- nav footer Ford
            block nav footer
            include ../includes/_navfooter
        //- responsive footer Ford
        block responsive footer
            include ../includes/_responsivefooter